/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require style
 *= require font-awesome
 *= require bootstrap-spinedit.css
 *= require select2
 */

.ybtitle {
  font-size:24px;
}

.input-group {
  color:black;
}

.skin-1 #page-wrapper {
  background: #999;
}

.form-control, .single-line {
  border: 1px solid #999;
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 10px;
  line-height: 30px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}

.dl-horizontal dt
{
 white-space: normal;
 width: 100px;
}
.dl-horizontal dd
{
  white-space: normal;
  margin-left: 110px;
}